.mat-form-field {
  margin-left: 8px;
}

.form {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 350px;
}

.button_submit {
  margin-top: 10px;
  width: 200px;
}

.redSnackBar {
  background-color: red;
}

.righ-text-input {
  text-align: right;
}
